@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-blue text-white font-sans text-base antialiased;
  }

  h1,
  h2,
  h3,
  h5,
  h6,
  li,
  p,
  a,
  address {
    @apply m-0 p-0 no-underline;
    font-style: normal;
  }

  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }

  sup {
    font-size: 0.5em;
  }
}
